extends ../../layouts/default.pug

block addCss 
    link(rel="stylesheet", href="/admin/css/productDetail.css")

block main

    h2.margin= `Information of ${account.fullName}`

    if account.avatar
        div.margin.outer-thumbnail
            img(src=account.avatar, alt=account.fullName)

    div.margin.product-attribute
        span Full name:
        span= account.fullName

    div.margin.product-attribute
        span Email:
        span= account.email
    
    div.margin.product-attribute
        span Phone:
        span= account.phone 

    div.margin.product-attribute
        span Role:
        span= account.role
    
    div.margin.product-attribute
        span Status:
        span= ' ' + account.status

    div.margin.product-attribute
        a(href=`${prefixAdmin}/accounts/update-account/${account.id}`, class="margin update-button") Update
