extends ../../layouts/default.pug
include ../../mixins/filterStatus.pug
include ../../mixins/searchForm.pug
include ../../mixins/sortCategory.pug
include ../../mixins/pagination.pug
include ../../mixins/changeProductForm.pug
include ../../mixins/notification.pug

block main
    - if (messages.success)
        +notf-success()
    h1 List product categories

    .card.mb-3 
        .card-header Filter and Search 
        .card-body 
            .row 
                .col-6
                    +filter-status(filterStatus)
                .col-6 
                    +search-form(keyword)

    .card.mb-3 
        .card-header
            a(href=`${prefixAdmin}/product-categories/create-product-category` class="create-product") + Create product category
            +change-product-form(`${prefixAdmin}/product-categories/change-list-product-category`)
        
        h4.sort-title Sort
        .card-sort
            +sortCategory(sortString)
        .card-body 
            table.table.table-hober.table-sm
                thead 
                    tr 
                        th 
                            input(type="checkbox" name="checkall")
                        th Order 
                        th Thumbnail  
                        th Title 
                        th Position
                        th Status 
                        th Action 

                tbody 
                    each item, index in productCategories
                        tr.item 
                            //- td 
                            //-     input(type=text, value=item.slug)
                            td
                                input(type="checkbox" name="checkitem" val=item._id)
                            td #{(pagination.page - 1) * pagination.limit + index + 1}
                            //- td #{item.position}
                            td 
                                img(
                                    src=item.thumbnail
                                    alt=item.title
                                    width="100px"
                                    height="auto"
                                )
                            td #{item.title} 
                            td 
                                input(type="number" value=item.position class="position-product")
                            td 
                                if(item.status === "active")
                                    button(class="badge badge-success" itemId=item._id val="active") Active 
                                else 
                                    button(class="badge badge-danger" itemId=item._id val="inactive") Inactive 
                            td 
                                button(class="btn  btn-secondary btn-sm" detail-button item_id=item._id) Detail
                                button(class="btn btn-warning btn-sm ml-1" update-button item_id=item._id) Update 
                                button(class="btn btn-danger btn-sm ml-1" delete-button item_id=item._id) Delete
                    
    .pagination
        +pagination(pagination)

    form(action=`${prefixAdmin}/product-categories/change-status` 
    class="change-status-form"
    method="POST")

    form(action=`${prefixAdmin}/product-categories/delete-product-category` 
    class="delete-product-form"
    method="POST")

    script(src="/admin/js/product.js")