extends ../../layouts/default.pug
include ../../mixins/time.pug

block addCss 
    link(rel="stylesheet", href="/admin/css/productDetail.css")

block main
    if currentUser.role.permission.includes("view-product-category")
        h2.margin= category.title 

        if category.thumbnail
            div.margin.outer-thumbnail
                img(src=category.thumbnail, alt=category.title)

        if category.description
            div.margin.product-attribute
                span Description:
                div!= category.description

        if category.position
            div.margin.product-attribute
                span Position:
                span= ' ' + category.position
        
        if category.par
            div.margin.product-attribute
                span Parent:
                span= ' ' + category.par
        else
            div.margin.product-attribute
                span Parent:
                span No Parent

        if category.status
            div.margin.product-attribute
                span Status:
                span= ' ' + category.status

        div.margin.product-attribute
            span Created by:
            span= ' ' + category.creatorName
        
        div.margin.product-attribute
            span Created at:
            +dateTime(category.createdBy.createdAt)

        if currentUser.role.permission.includes("update-product-category")
            div.margin.product-attribute
                a(href=`${prefixAdmin}/product-categories/update-product-category/${category.id}`, class="margin update-button") Update
    else 
        h1 No permission