extends ../../layouts/default.pug

block addCss 
    link(rel="stylesheet", href="/css/productDetail.css")

block main
    .container
        .product.row
            if product.thumbnail
                .margin.outer-thumbnail.col-5
                    img(src=product.thumbnail, alt=product.title)
            
            .col-6.specifications
                span.margin.product-title= product.title 
                if product.featured    
                    span(class="badge badge-danger featured") Featured
                
                if product.category 
                    div.category
                        span Category: 
                        a(href=`/products/category/${product.category.slug}`) #{product.category.title}

                if product.price
                    .margin.product-attribute.price
                        span.old-price= ' $' + product.price
                        span.new-price= ' $' + product.newPrice
                        span.discount= ' ' + product.discountPercentage + '% discount'

                form(action=`/cart/addProduct/${product.id}` method="POST" class="cart-form")
                    .order.margin
                        span.quantity-label Quantity
                        span.quantity-btn - 
                        input.quantity-input(type="number", value=1, name="quantity", min=1, max=product.stock)
                        span.quantity-btn +
                        span.stock= ' Stock: ' + product.stock
                    button(type="submit").add-to-cart Add to cart
                button.buy-now Buy Now

                if product.description
                    .margin.product-attribute.description
                        b Description:
                        span.product-description!= product.description