mixin search-form(keyword)
    form(id="form-search")
        .input-group 
            input(
                type="text"
                placeholder="Enter keywords"
                name="keyword"
                class="form-control"
                value=keyword
            )
            .input-group-append 
                button(
                    class="btn btn-success btn-search-form"
                    type="submit"
                ) Search