extends ../../layouts/default.pug
include ../../mixins/time.pug

block main
    if currentUser.role.permission.includes("view-role")
        h1 List role

        .card.mb-3 

        .card.mb-3 
            .card-header
                if currentUser.role.permission.includes("create-role")
                    a(href=`${prefixAdmin}/roles/create-role` class="create-product") + Create role
                
            .card-body 
                table.table.table-hober.table-sm
                    thead 
                        tr 
                            th Order 
                            th Role 
                            th Short description
                            th Created by
                            th Action 

                    tbody 
                        each item, index in roles
                            tr.item 
                                td= index+1
                                td #{item.title} 
                                td #{item.description} 
                                td 
                                    div #{item.creatorName}
                                    +date(item.createdBy.createdAt)
                                    
                                td 
                                    button(class="btn  btn-secondary btn-sm" detail-button linkTo=`${prefixAdmin}/roles/${item.id}`) Detail
                                    if currentUser.role.permission.includes("update-role")
                                        button(class="btn btn-warning btn-sm ml-1" update-button linkTo=`${prefixAdmin}/roles/update-role/${item.id}`) Update 
                                    if currentUser.role.permission.includes("delete-role")
                                        button(class="btn btn-danger btn-sm ml-1" delete-button item_id=item._id) Delete

        form(action=`${prefixAdmin}/roles/delete-role` 
        class="delete-product-form"
        method="POST")

        script(src="/admin/js/product.js")
    else 
        h1 No permission