extends ../../layouts/default.pug
include ../../mixins/time.pug

block addCss 
    link(rel="stylesheet", href="/admin/css/productDetail.css")

block main
    if currentUser.role.permission.includes("view-role")
        .title
                h2.margin= role.title 
                a(href=`${prefixAdmin}/roles/edit-history/${role.id}`, class="btn btn-secondary") Edit history
        div.margin.product-attribute
            span Role:
            div= role.title
        if role.description
            div.margin.product-attribute
                span Description:
                div= role.description

        div.margin.product-attribute
            span Created by:
            span= ' ' + role.creatorName
        
        div.margin.product-attribute
            span Created at:
            +dateTime(role.createdBy.createdAt)

        if currentUser.role.permission.includes("update-role")
            div.margin.product-attribute
                a(href=`${prefixAdmin}/roles/update-role/${role.id}`, class="margin update-button") Update
    else 
            h1 No permission