extends ../../layouts/default.pug

block addCss
    link(rel="stylesheet", href="/admin/css/createProduct.css")

block main
    if currentUser.role.permission.includes("update-account")

        h2 Edit profile

        form(action=`${prefixAdmin}/my-profile/edit?_method=PATCH`, enctype="multipart/form-data", method="POST")
            div.form-group
                label(for="fullname") Full name:
                input#fullname.form-control(type="text", name="fullName", placeholder="Enter the user full name", value=account.fullName, required)
            div.form-group
                label(for="email") Email:
                input#email.form-control(type="email", name="email", placeholder="Enter the user email", value=account.email, required)
            div.form-group
                label(for="password") Password:
                input#password.form-control(type="password", name="password", placeholder="Enter password")
            div.form-group
                label(for="phone") Phone number:
                input#phone.form-control(type="tel", name="phone", placeholder="Enter the user phone number", value=account.phone, required)
            div.form-group
                label(for="role") Role:
                br
                select.select-parent-category(name="roleId", required)
                    option(value="" disabled selected) --Select a role--
                    each role in roles
                        option(value=role.id, selected=account.roleId.toString() === role.id.toString()) #{role.title}

            div.form-group
                label(for="avatar") Avatar:
                input#avatar.form-control.imp-inp(type="file", accept="image/*", name="avatar")
                img(id="blah" src=account.avatar, alt="your image")

            div.form-group
                label Status:
                div
                    input#status-active(type="radio", name="status", value="active", checked=account.status === "active")
                    label(for="status-active") Active
                div
                    input#status-inactive(type="radio", name="status", value="inactive", checked=account.status === "inactive")
                    label(for="status-inactive") Inactive

            div.form-group
                button.btn.btn-primary(type="submit") Submit
    else 
        h1 No permission