extends ../../layouts/default.pug
include ../../mixins/filterStatus.pug
include ../../mixins/searchForm.pug
include ../../mixins/sort.pug
include ../../mixins/pagination.pug
include ../../mixins/changeProductForm.pug
include ../../mixins/notification.pug
block main
    if currentUser.role.permission.includes("view-product")
        - if (messages.success)
            +notf-success()
        h1 List products 

        .card.mb-3 
            .card-header Filter and Search 
            .card-body 
                .row 
                    .col-6
                        +filter-status(filterStatus)
                    .col-6 
                        +search-form(keyword)

        .card.mb-3 
            .card-header
                if currentUser.role.permission.includes("create-product") 
                    a(href=`${prefixAdmin}/products/create-product` class="create-product") + Create product
                if currentUser.role.permission.includes("update-product")
                    +change-product-form(`${prefixAdmin}/products/change-list-product`)
            
            h4.sort-title Sort
            .card-sort
                +sort(sortString)
            .card-body 
                table.table.table-hober.table-sm
                    thead 
                        tr 
                            if currentUser.role.permission.includes("update-product")
                                th 
                                    input(type="checkbox" name="checkall")
                            th Order 
                            th Thumbnail  
                            th Title 
                            th Price 
                            th Position
                            th Status 
                            th Action 

                    tbody 
                        each item, index in products
                            tr.item 
                                //- td 
                                //-     input(type=text, value=item.slug)
                                if currentUser.role.permission.includes("update-product")
                                    td
                                        input(type="checkbox" name="checkitem" val=item._id)
                                td #{(pagination.page - 1) * pagination.limit + index + 1}
                                //- td #{item.position}
                                td 
                                    img(
                                        src=item.thumbnail
                                        alt=item.title
                                        width="100px"
                                        height="auto"
                                    )
                                td #{item.title} 
                                td #{item.price}$
                                td 
                                    input(type="number" value=item.position class="position-product")
                                td 
                                    if currentUser.role.permission.includes("update-product")
                                        if(item.status === "active")
                                            button(class="badge badge-success" itemId=item._id val="active" update-status) Active 
                                        else 
                                            button(class="badge badge-danger" itemId=item._id val="inactive" update-status) Inactive 
                                    else
                                        if(item.status === "active")
                                            span(class="badge badge-success" itemId=item._id val="active") Active 
                                        else 
                                            span(class="badge badge-danger" itemId=item._id val="inactive") Inactive 
                                td 
                                    button(class="btn  btn-secondary btn-sm" detail-button linkTo=`${prefixAdmin}/products/${item.id}`) Detail
                                    if currentUser.role.permission.includes("update-product")
                                        button(class="btn btn-warning btn-sm ml-1" update-button linkTo=`${prefixAdmin}/products/update-product/${item.id}`) Update 
                                    if currentUser.role.permission.includes("delete-product")
                                        button(class="btn btn-danger btn-sm ml-1" delete-button item_id=item._id) Delete
                        
        .pagination
            +pagination(pagination)

        form(action=`${prefixAdmin}/products/change-status` 
        class="change-status-form"
        method="POST")

        form(action=`${prefixAdmin}/products/delete-product` 
        class="delete-product-form"
        method="POST")

        script(src="/admin/js/product.js")
    else 
        h1 No permission