extends ../../layouts/default.pug
include ../../mixins/notification.pug

block addCss 
    link(rel="stylesheet", href="/admin/css/createProduct.css")

block main
    - if (messages.success)
        +notf-success()
    - if (messages.fail)
        +notf-fail()

    form(action=`${prefixAdmin}/products/update-product/${product._id}?_method=PATCH`, enctype="multipart/form-data", method="POST")
        div.form-group
            label(for="title") Title:
            input#title.form-control(type="text", name="title", placeholder="Enter the product title", value=product.title, required)
        div.form-group
            label(for="description") Description:
            textarea#description.form-control(name="description", rows="4", placeholder="Enter the product description", value=product.description)=product.description
        div.form-group
            label(for="price") Price:
            input#price.form-control(type="number", name="price", step="0.01", placeholder="Enter the product price", value=product.price)
        div.form-group
            label(for="discountPercentage") Discount Percentage:
            input#discountPercentage.form-control(type="number", name="discountPercentage", value=product.discountPercentage, step="0.01", placeholder="Enter the discount percentage")
        div.form-group
            label(for="stock") Stock:
            input#stock.form-control(type="number", name="stock", value=product.stock, placeholder="Enter the stock quantity")
        div.form-group
            label(for="thumbnail") Thumbnail:
            input#thumbnail.form-control.imp-inp(type="file", accept="image/*", name="thumbnail", placeholder="Enter the thumbnail URL")
            img(id="blah" src=product.thumbnail alt="your image")
        div.form-group
            label(for="position") Position:
            input#position.form-control(type="number", name="position", value=product.position, placeholder="Enter the product position")
        div.form-group
            label Status:
            div
                input#status-active(type="radio", name="status", value="active", checked=product.status === 'active')
                label(for="status-active") Active
            div
                input#status-inactive(type="radio", name="status", value="inactive", checked=product.status === 'inactive')
                label(for="status-inactive") Inactive
        div.form-group
            button.btn.btn-primary(type="submit") Submit
    script(src="../../js/script.js")