mixin product(item)
    .col-4.mb-3 
        div(class="product-item", slug=item.slug) 
            if item.featured    
                span(class="badge badge-danger featured") Featured
            .inner-image 
                img(
                    src=item.thumbnail 
                    alt=item.title
                )
            .inner-content 
                h3.inner-title #{item.title}
                .inner-price-new #{item.priceNew}$
                .inner-price-old #{item.price}$
                .inner-discount -#{item.discountPercentage}%